* {
  box-sizing: border-box;
}
.html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "'Poppins'", sans-serif;
  background: #fffaf5;
}
:root {
  --primary-background: #f8420f;
}
/* Common */
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  display: inline-block;
  opacity: 0.6;
  border: 1px solid var(--primary-background);
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 31px;
  width: 214px;
  height: 56px;
  color: var(--primary-background);
  text-align: center;
}
.header__heading {
  font-family: "Sora";
  font-style: normal;
  font-weight: 800;
  font-size: 66px;
  line-height: 76px;
  color: #000958;
  text-align: center;
}
.header__desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #656689;
  text-align: center;
}

/*  */

/* =============================== Header ========================== */
.header {
  padding-top: 26px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-list {
  display: flex;
  /* align-items: center; */
}
.navbar__item {
  margin: 0 22px;
}
.navbar__item .navbar__link {
  font-weight: 500;
  font-size: 14px;
  color: #5e6085;
}
.navbar__link--active {
  color: #000958;
  font-weight: 600;
}
.header-btn {
  width: 117px;
  height: 50px;
  opacity: 0.7;
  border: 1px solid #000958;
  border-radius: 25px;
  color: #000958;
  box-shadow: none;
  background: #e5e5e5;
  font-weight: 600;
}
.header-btn:hover {
  border: 2px solid #5bd6e2;
}
/* ============================= Hero ================================== */
.hero {
  margin-top: 100px;
}
.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__media {
  position: relative;
  width: 50%;
}
.hero__wrapper {
  position: relative;
  width: 388px;
  height: 488px;
  background: #fe997b;
  border-radius: 16px;
}
.hero__wrapper-small {
  position: absolute;
  width: 186px;
  height: 244px;
  background: #faa7ad;
  border-radius: 16px;
  bottom: -58px;
  right: -163px;
}

.hero__img {
  width: 100%;
  height: 100%;
}
.hero-list {
  display: flex;
  position: absolute;
  bottom: -94px;
  right: 9px;
  gap: 26px;
  flex-direction: column;
  width: 250px;
  height: 156px;
  padding: 18px 14px;
  background: #ffffff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 10px;
}
.hero-list-inner {
  width: 169px;
  height: 40px;
}
.hero-list-item {
  display: flex;
  align-items: center;
}
.hero-list-item:last-child .hero-list-item__thumb {
  background: #c6e2fa;
}
.hero-list-item:last-child {
  margin-top: 17px;
}
.hero-list-item__thumb {
  width: 40px;
  height: 40px;
  background: #fec23f;
  border-radius: 10px;
}
.hero-list-item__title {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #181e52;
}
.hero-list-item__skeleton {
  margin-top: 7px;
  width: 118px;
  height: 4px;
  background: #000958;
  opacity: 0.08;
  border-radius: 10px;
  /* overflow: hidden; */
}
.hero-list-item__info {
  margin-left: 8px;
}
.hero-list-item__skeleton-short {
  width: 39px;
}
.hero-list-separate {
  margin-top: 7px;
  width: 222px;
  height: 0px;
  border: 2px solid #f2f2f2;
}
.hero__right {
  position: absolute;
  z-index: -1;
  width: 230.96px;
  height: 230.96px;
  left: -58px;
  bottom: 10px;
}
.hero__left {
  z-index: -1;
  position: absolute;
  width: 50.35px;
  height: 100.83px;
  top: 16px;
  right: -40px;
}

/* ====================== Hero content =============================== */
.hero-content {
  margin-left: 120px;
  position: relative;
}
.hero__heading {
  width: 517px;
}
.hero__desc {
  width: 391px;
  margin-top: 28px;
}
.hero-contact {
  display: flex;
  align-items: center;
  margin-top: 38px;
}
.hero__btn {
  position: relative;
  width: 189px;
  height: 60px;
  background: #ff5b2e;
  border-radius: 31px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.hero__next {
  position: relative;
  margin-left: -28px;
  margin-top: 5px;
}
.hero-cricle {
  display: inline-block;
  background: #fffaf5;
  box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.hero__next .image {
  position: absolute;
  top: 8.5px;
  left: 7.5px;
}
.hero__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #000958;
  margin-left: 24px;
}

/* ============================= About Content 1 ========================== */
.about {
  margin-top: 207px;
}
.about-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 146px;
}
.about__content span {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #5e6085;
}
.about__heading {
  width: 446px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  color: #000958;
}
.about__desc {
  margin-top: 24px;
  width: 431px;
}
.about__checked {
  display: flex;
  flex-wrap: wrap;
  width: 477px;
  height: 82px;
  margin-top: 54px;
}
.about__checked-title {
  display: flex;
  align-items: center;
  width: 223px;
  height: 24px;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #48496a;
}
.about__checked-thumb:first-child {
  position: absolute;
  top: 5px;
  left: 5px;
}
.about__checked-item {
  position: relative;
}
.about__checked-title::before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background: #ff5d31;
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
  border-radius: 4px;
}
.about__checked-item:nth-child(even) {
  margin-left: 24px;
}
.about__checked-item:nth-child(3) {
  margin-top: 34px;
}
.about__checked-item:last-child {
  margin-top: 34px;
}

/* ================================= About Media 1 ========================= */
.about__media {
  position: relative;
  margin: 0 auto;
}
.about__media-info {
  position: absolute;
  top: 130px;
  left: -90px;
  width: 136px;
  padding: 39px 26px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
  border-radius: 10px;
  text-align: center;
}

.about__media-age {
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
}
.about__media-year {
  margin-top: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #c6f4f9;
}
.about__media-thumb {
  position: absolute;
  top: -39px;
  right: -34px;
}
.about__media-wrapper {
  position: relative;
  width: 494px;
  border-radius: 16px;
  margin-left: auto;
}
.about__media-image {
  display: block;
  margin: 0 auto;
  width: 450px;
  z-index: 2;
}
.about__media-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 336px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px rgba(255, 155, 121, 0.12);
  border-radius: 16px;
}
.about__media-decorate {
  position: absolute;
  top: 150px;
  right: -65px;
  z-index: -1;
}

/* ======================================= About Media 2 ===================== */
.about__media-normal {
  margin: 0 auto;
  width: 709px;
}
.about__media-bottom::after {
  content: none;
}
.about__media-bottom {
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  border: 2px solid #ffffff;
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
  border-radius: 18px;
  margin-left: 0;
}
.about__image-bottom {
  width: 100%;
}
.about__media-circles {
  position: absolute;
  bottom: -35px;
  right: 165px;
}
.about__media-creative {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: transparent;
  top: -25px;
  right: 200px;
}
.about__media-twisted {
  position: absolute;
}
.about__media-twisted:nth-child(2) {
  top: 30px;
  left: 2px;
}
.about__media-twisted:first-child {
  right: 22px;
  top: 5px;
}
.about__media-twisted:last-child {
  bottom: 20px;
  right: -20px;
}
/* ================================= About content 2 ================================== */
.about__content {
}
.about__heading-bottom {
  width: 543px;
  height: 124px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;

  color: #000958;
}
.about__desc-bottom {
  font-family: "Poppins";
  font-style: normal;
  margin-top: 24px;
  width: 511px;
  height: 90px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #656689;
}
.about__content-pay {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-top: 52px;
}
.about__content-pay::after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 557px;
  height: 0;
  opacity: 0.07;
  border: 2px solid #ff5b2e;
  z-index: -1;
}
.about__content-separate {
  display: inline-block;
  position: absolute;
  width: 95px;
  bottom: -20px;
  border: 2px solid #ff5b2e;
}
.about__content-item + .about__content-item .about__content-title {
  margin-left: 12px;
}
.about__content-item {
  display: flex;
  align-items: center;
}
.about__content-desc {
  width: 391px;
  height: 48px;
  margin-top: 50px;
  font-size: 14px;
  line-height: 24px;
}
.about__content-link {
  display: inline-block;
  margin-top: 32px;
  font-weight: 500;
  font-size: 16px;
  color: #ff5d31;
  border-bottom: 2px solid #ff5d31;
}

/* ================================== Service ==================================== */
.service {
  margin-top: 130px;
  padding: 68px 0 100px;
  background: #fff6ed;
  position: relative;
  z-index: -2;
}
.service-title {
  display: block;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #5e6085;
  /* margin: 0 auto; */
}
.service-heading {
  font-weight: 700;
  font-size: 52px;
  text-align: center;
}
.service-inner {
  margin-top: 72px;
}
.service-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-item {
  width: 294px;
}
.service-item:nth-child(2) {
  width: 447px;
}
.service-item__inner {
  position: relative;
  width: 100%;
  padding: 30px 28px;
  background: #ffffff;
  border: 2px solid rgba(255, 188, 122, 0.26);
  border-radius: 10px;
}
.service__inner-title {
  margin-left: 12px;
  width: 213px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  color: #000958;
}
.service__inner-straight-line {
  display: block;
  position: absolute;
  top: 30px;
  left: 28px;
  width: 2px;
  height: 22px;
  background-color: #ff5b2e;
}
.service__inner-desc {
  margin-top: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #656689;
}
.service__inner-action {
  display: flex;
  align-items: center;
  margin-top: 27px;
  gap: 10px;
}
.service-action__link {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #34396a;
}
.service-list__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.service-item__row2 {
  position: relative;
  width: 440px;
}
.service__media-wrapper::after {
  content: "";
  left: 20px;
  right: 15px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}
.service__media-wrapper {
  /* position: absolute; */
  width: 447px;
  right: -7px;
}
.service-item__link {
  display: block;
  width: 214px;
  height: 56px;
  padding: 20px 0;
  margin: 27px auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

/* ======================== Groomer ========================== */
.groomers {
  padding: 130px 0;
}
.groomers__title {
  display: block;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #5e6085;
}
.groomer__heading {
  margin-top: 15px;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
  widows: 531px;
  text-align: center;
}
.groomers__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 37px;
  margin-top: 60px;
}
.groomers__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 266px;
  height: 383px;
}
.groomers__items:nth-child(even) .groomer__item-decorate {
  top: 0;
  right: 6px;
}
.groomer__wrapper {
  position: relative;
  width: 278px;
  border: none;
  right: -6px;
  margin: 14px 8px 0px;
}

.groomer__item-decorate {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.groomer__image {
  width: 234px;
  background: #90ccff;
  border-radius: 129.5px;
}
.groomers__items:nth-child(2) .groomer__image {
  background: #ff997e;
}
.groomers__items:nth-child(3) .groomer__image {
  background: #fabf3e;
}
.groomers__items:last-child .groomer__image {
  background: #5bd6e2;
}
.groomer__item-title {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #656689;
}
.groomer__item-name {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: #000958;
}
.groomers__btn {
  display: block;
  width: 193px;
  height: 56px;
  padding: 20px 0;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #ff5b2e;
  margin: 0 auto;
  margin-top: 48px;
  box-shadow: none;
}

/* ======================= Course ======================= */
.Course {
  padding: 86px 0;
  background-color: #fff6ed;
}
.course__heading {
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
}
.course__desc {
  width: 709px;
  margin: 24px auto;
}
.course__btn {
  position: absolute;
  padding: 20px 40px;
  width: 276px;
  height: 56px;
  box-shadow: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
}
.course__action {
  display: flex;
  position: relative;
  width: 276px;
  height: 56px;
  margin: 0 auto;
}
.course__btn-right {
  position: absolute;
  width: 131px;
  height: 56px;
  background: var(--primary-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding: 20px 0;
  right: 0;
  box-shadow: none;
}
.course__decorate {
  position: absolute;
  right: -115px;
  top: -2px;
}
.course-item {
  width: 302px;
  padding: 30px 28px 43px;
  background: #ffffff;
  border-radius: 20px;
}
.course-item:nth-child(2) .course-item__btn {
  background-color: var(--primary-background);
  color: #fff;
}
.course-item__heading {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--primary-background);
}
.course-item__title {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #3f4065;
  margin-top: 8px;
}
.course-item__price {
  display: block;
  margin-top: 24px;
  font-weight: 700;
  font-size: 33px;
  line-height: 34px;
  color: #000958;
}
.course-item__btn {
  display: block;
  margin-top: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  width: 246px;
  height: 44px;
  border-radius: 39px;
  padding: 14px 0;
  box-shadow: none;
}
.course-list {
  display: flex;
  gap: 44px;
  justify-content: space-around;
  margin-top: 56px;
}
.course-list__bottom {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.course-item__note {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #656689;
}
.course-items__attention {
  display: flex;
  align-items: center;
  gap: 15px;
}
.course-items__attention + .course-items__attention {
  margin-top: 18px;
}

/* ============================ Review ============================== */
.review {
  padding: 32px 0 130px;
}
.review__inner {
  display: flex;
  align-items: center;
}
.review__action {
  position: relative;
}
.review__circle {
  display: inline-block;
  width: 54px;
  height: 54px;
  border: 1.5px solid #ffd1c4;
  /* background-color: green; */
  border-radius: 50%;
}
.images__next,
.images__prev {
  position: absolute;
  top: 15.37px;
  left: 19.37px;
}
.review__wrapper {
  margin-left: 28px;
  width: 338px;
  height: 507px;
}
.review__frame {
  position: relative;
  width: 274px;
  height: 427px;
  margin-right: auto;
}
.review__frame::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 350px;
  background: #ffda54;
  border-radius: 137px;
}
.review__image {
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 274px;
  z-index: 2;
  border-radius: 137px;
}
.review__content {
  width: 553px;
  margin: 0 86px 0 67px;
}
.review__heading {
  font-weight: 700;
  font-size: 52px;
  text-align: left;
}
.review__desc {
  margin-top: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-align: left;
}
.review__title {
  position: relative;
  margin-left: 28px;
  display: inline-block;
  margin-top: 38px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #282828;
}
.review__title::before {
  position: absolute;
  content: "";
  display: inline-block;
  left: -28px;
  top: 5px;
  width: 20px;
  height: 0px;
  border: 2px solid #000000;
}
.review__circle-next {
  background-color: #ff5b2e;
}
.review__bottom {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.review__below-left {
  display: inline-block;
  width: 24px;
  height: 8px;
  background: #ff5b2e;
  border-radius: 4px;
}
.circle-list {
  display: flex;
  gap: 8px;
}
.circle-item {
  width: 8px;
  height: 8px;
  border: 1px solid #ff5b2e;
  border-radius: 4px;
}

/* ======================= Blog =========================== */
.blog {
  margin-top: 130px;
}
.blog__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog__title {
  font-size: 52px;
  font-weight: 700;
  text-align: none;
}
.blog__desc {
  width: 350px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #656689;
  text-align: left;
}
.blog__btn {
  margin-top: 24px;
  width: 182px;
  height: 56px;
  padding: 20px;
  font-weight: 500;
  font-size: 16px;
}
.blog__bottom {
  margin-top: 54px;
}
.blog__list {
  display: flex;
  gap: 48px;
}
.blog__item {
  width: 358px;
}
.blog__wrapper {
  position: relative;
  width: 358px;
  height: 362px;
  background: #90ccff;
  border-radius: 24px;
}
.blog__thumb {
  position: absolute;
  right: 0;
  bottom: 0;
}
.blog__time {
  display: inline-block;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  margin-top: 24px;
  margin-left: 36px;
}
.blog__item--heading {
  margin-top: 28px;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  color: #000958;
  text-align: left;
}
.blog__item--desc {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #656689;
  text-align: left;
}
.blog__item:nth-child(2) .blog__wrapper {
  background-color: #ff997e;
}
.blog__item:last-child .blog__wrapper {
  background-color: #5bd6e2;
}

/* ===================== Footer ========================= */
.footer {
  position: relative;
  margin-top: 130px;
}
.footer__inner {
  display: flex;
}
.footer__contact {
  position: absolute;
  padding: 114px 135px 148px;
  width: 43%;
  background: #fff6ed;
  left: 0;
}
.footer__action {
  position: relative;
  margin-top: 40px;
}
.footer__btn {
  width: 268px;
  background: #ffffff;
  border: 1px solid rgba(255, 91, 46, 0.25);
  border-radius: 23px;
  text-align: left;
  padding: 16px;
  font-weight: 300;
  font-size: 12px;
  color: #656689;
}
.footer__next {
  position: absolute;
  top: 11px;
  left: 235px;
}
.footer__circle {
  position: absolute;
  width: 45px;
  height: 46px;
  left: 223px;
  top: 0;
}
.footer__title {
  display: inline-block;
  margin-top: 68px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000958;
}
.footer__socials {
  display: flex;
  margin-top: 26px;
  gap: 16px;
}
.footer__icon {
  position: absolute;
  z-index: 1;
}
.footer__social {
  position: relative;
}
.footer__social + .footer__social {
  margin-left: 25px;
}
.footer__employer {
  position: absolute;
  right: 172px;
}
.footer__circle--bottom {
  position: absolute;
  left: -8px;
  top: -9px;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.footer__inner--right {
  width: 524px;
  margin-left: auto;
}
.footer__employer--item {
  margin-top: 50px;
  width: 207px;
}
.footer__employer--list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 100px;
}
.footer__employer--title {
  width: 130px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000958;
}
.footer__employer--notes {
  margin-top: 14px;
}
.footer__employer--note {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #656689;
}
